---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import SideBar from "@components/SideBar/SideBar.astro";
import SidebarCard from "@components/SideBar/SidebarCard.astro";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
let prev_year = 0;
let years: number[] = [];
let sorted_posts = posts.map((post) => {
  const year = new Date(post.data.pubDate).getFullYear();
  let isAnotherYear = year !== prev_year;
  if (isAnotherYear) {
    prev_year = year;
    years.push(year);
  }
  return {
    ...post,
    isAnotherYear,
  };
});
---

<BaseLayout title="Archive">
  <SideBar>
    <SidebarCard>
      <div class="index">
        <ul>
          {
            years.map((y) => (
              <li>
                <a href={`#${y}`}>{y}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </SidebarCard>
  </SideBar>
  <div class="main" style="background-color: white;">
    <ul>
      {
        sorted_posts.map((post) => (
          <>
            {post.isAnotherYear && (
              <h2 id={post.data.pubDate.getFullYear()}>
                {post.data.pubDate.getFullYear()}
              </h1>
            )}
              <li>
                <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
              </li>
          </>
        ))
      }
    </ul>
  </div>
</BaseLayout>