---
import FormattedDate from "./FormattedDate.astro";
const { title, description, heroImage, slug, pubDate } = Astro.props;
---

<a class="post-summary" href={`/blog/${slug}/`}>
  <div class="info">
    <div class="post-title">{title}</div>
    <p class="description grow">{description}</p>
    <span class="date text-end">
      <FormattedDate
        date={pubDate}
        lang={"zh"}
        year="numeric"
        month="2-digit"
        day="numeric"
      />
    </span>
  </div>
  {heroImage && <img src={heroImage} class="hero-image" alt={title} />}
</a>
