---
import FormattedDate from "./FormattedDate.astro";
const { title, description, heroImage, slug, pubDate } = Astro.props;
---

<div class="post-summary">
  <a class:list={heroImage && "has-image"} href={`/blog/${slug}/`}>
    <div class="info">
      <h1 class="title">{title}</h1>
      <p class="description">{description}</p>
      <span class="date">
        <FormattedDate date={pubDate} />
      </span>
    </div>
    {heroImage && <img src={heroImage} alt={title} />}
  </a>
</div>
