---
import FormattedDate from "./FormattedDate.astro";
const { title, description, heroImage, slug, pubDate } = Astro.props;
---

<a class="post-summary flex rounded-2xl" href={`/blog/${slug}/`}>
  <div class="info w-full p-4 flex flex-col">
    <h1 class="title text-2xl font-semibold">{title}</h1>
    <p class="description grow">{description}</p>
    <span class="date text-end">
      <FormattedDate date={pubDate} />
    </span>
  </div>
  {
    heroImage && (
      <img
        src={heroImage}
        class="hidden lg:block w-64 h-40 rounded-2xl object-cover flex-shrink-0"
        alt={title}
      />
    )
  }
</a>
