---
import type { CollectionEntry } from "astro:content";
import "@/styles/article.css";
import Layout from "./Layout.astro";
import ArticleInfo from "@/components/ArticleInfo.astro";
import Icon from "astro-icon";
import Comment from "@/components/Comment.svelte";
import ArticleTags from "@/components/ArticleTags.astro";

type Props = CollectionEntry<"blog">["data"];
const { post } = Astro.props;
const { title, description, heroImage, tags, password } = post.data;
---

<Layout title={title} description={description}>
  <main class="max-w-4xl mx-auto rounded-2xl">
    {
      heroImage && (
        <img class="w-full rounded-2xl shadow-xl" src={heroImage} alt={title} />
      )
    }
    <article>
      <div>
        <h1 class="mb-0">{title}</h1>
        <ArticleInfo slug={post.slug} {...post.data} />
        <ArticleTags tags={tags} />
      </div>
      <slot name="content" />
    </article>
    <div class="mx-4 md:mx-8 md:py-2">
      <div class="comment mx-auto text-center">
        <Comment client:only="svelte" />
        <noscript>Javascript is required</noscript>
      </div>
    </div>
  </main>
</Layout>
