---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import "@/styles/article.css";
import Layout from "./Layout.astro";
import toc from "markdown-toc";
import { marked } from "marked";

type Props = CollectionEntry<"blog">["data"];

const { post } = Astro.props;
const { title, description, pubDate, updatedDate, heroImage, tags } = post.data;
const toc_html = marked.parse(toc(post.body, { maxdepth: 2 }).content);
---

<Layout title={title} description={description}>
  <main id="main">
    <article>
      <div class="title">
        <h1>{title}</h1>
        <hr />
        <div class="metadata">
          <FormattedDate date={pubDate} />
        </div>
      </div>
      {
        toc_html && (
          <details>
            <summary>目录</summary>
            <div class="toc" set:html={toc_html} />
          </details>
        )
      }
      <slot name="content" />
    </article>
  </main>
</Layout>