---
import { posts } from "@/scripts/collection-workaround";
import Home from "@/layouts/Home.astro";
import { SITE } from "@/consts";
import PostList from "@/components/PostList.astro";
export async function getStaticPaths({ paginate }) {
  const sorted_posts = posts.sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  );
  return paginate(sorted_posts, { pageSize: SITE.postPerPage });
}
const { page } = Astro.props;
---

<Home
  title={`第 ${page.currentPage} 页 - ${SITE.title}`}
  description={SITE.description}
>
  <PostList posts={page.data} />
  <div class="pagination flex justify-between mt-4">
    <div class="prev">
      <a href={page.url.prev} class={page.url.prev ? "" : "pointer-events-none"}
        >上一页</a
      >
    </div>

    {/* Generate page numbers */}
    <div class="page-numbers">
      {
        Array.from({ length: page.lastPage }, (_, index) => {
          const pageNumber = index + 1;
          return (
            <a
              href={`${pageNumber}`}
              class:list={[
                "mx-4 p-2 rounded-full",
                pageNumber === page.currentPage ? "bg-primary-container" : "",
              ]}
            >
              {pageNumber}
            </a>
          );
        })
      }
    </div>

    <div class="next">
      <a href={page.url.next} class={page.url.next ? "" : "pointer-events-none"}
        >下一页</a
      >
    </div>
  </div>
</Home>
