---
import { posts } from "@/scripts/collection-workaround";
import Home from "@/layouts/Home.astro";
import { SITE } from "@/consts";
import PostList from "@/components/PostList.astro";
import Icon from "astro-icon";
export async function getStaticPaths({ paginate }) {
  const sorted_posts = posts.sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  );
  return paginate(sorted_posts, { pageSize: SITE.postPerPage });
}
const { page } = Astro.props;
---

<Home
  title={`第 ${page.currentPage} 页 - ${SITE.title}`}
  description={SITE.description}
>
  <PostList posts={page.data} />
  <div class="pagination flex justify-between mt-4">
    <div class="prev">
      <a
        href={page.url.prev}
        class:list={[{"pointer-events-none no-next": !page.url.prev}, "pagination-item"]}
        ><Icon name="ic:baseline-chevron-left" /></a
      >
    </div>

    <div class="page-numbers flex gap-4">
      {
        Array.from({ length: page.lastPage }, (_, index) => {
          const pageNumber = index + 1;
          return (
            <a
              href={`${pageNumber}`}
              class:list={[
                "pagination-item",
                pageNumber === page.currentPage ? "page-active" : "",
              ]}
            >
              {pageNumber}
            </a>
          );
        })
      }
    </div>

    <div class="next">
      <a
        href={page.url.next}
        class:list={[{"pointer-events-none no-next": !page.url.next}, "pagination-item"]}
        ><Icon name="ic:baseline-chevron-right" /></a
      >
    </div>
  </div>
</Home>
