---
import { posts } from "@/scripts/collection-workaround";
import HeaderLink from "@/components/Header/HeaderLink.astro";
import Home from "@/layouts/Home.astro";
import { SITE } from "@/consts";
import PostList from "@/components/PostList.astro";
export async function getStaticPaths({ paginate }) {
  return paginate(posts, { pageSize: SITE.postPerPage });
}
const { page } = Astro.props;
---

<Home
  title={`第 ${page.currentPage} 页 - ${SITE.title}`}
  description={SITE.description}
>
  <PostList posts={page.data} />
  <div class="pagination">
    <div class="prev">
      {
        page.url.prev ? (
          <HeaderLink href={page.url.prev}>上一页</HeaderLink>
        ) : null
      }
    </div>
    <div class="next">
      {
        page.url.next ? (
          <HeaderLink href={page.url.next}>下一页</HeaderLink>
        ) : null
      }
    </div>
  </div>
</Home>
